extends ../layout

block content

    form(action='/cars/marks/' + mark.mark + '/edit', method='POST')
        P
            a(href="/cars/marks") Back
        p
            input(type='text', name='newMark', value=mark.mark)
        p
            input(type='hidden', name='oldMark', value=mark.mark)
            button(type='submit').
                Save    
        each model in mark.models
            p
               a(href="/cars/marks/#{mark.mark}/#{model}") #{ model }
            p   
               form(action='/cars/marks/' + mark.mark + '/delete', method='POST')
                    input(type='hidden', value=model, name='model')
                    button(type='submit').
                        Delete Car                    