extends ../layout

block content

    form(action='/cars/marks/' + mark.mark + '/edit', method='POST')
        P
            a.links(href="/cars/marks") Back
        p
            input.textBox(type='text', name='newMark', value=mark.mark)
        p
            input(type='hidden', name='oldMark', value=mark.mark)
            button.addCarSubmit(type='submit').
                Save    
        each model in mark.models
            div.button_links
               form.delete_form(action='/cars/marks/' + mark.mark + '/delete', method='POST')
                    a.allLinks(href="/cars/marks/#{mark.mark}/#{model}") #{ model }                    
                    input(type='hidden', value=model, name='model')
                    button(type='submit')
                        img(src="/img/delete.png" width="16" height="16")     
                br
        a.allLinks(href="/cars/marks/#{mark.mark}/add") Add                 
        
                                       