extends ../layout

block content
    form(action='/cars/marks/' + model.mark + '/' + model.model + '/edit', method='POST')
        P
            a(href="/cars/marks/"+model.mark) Beck
            a(href="/cars/marks") All marks
        p Mark
            input(type='text', name='mark', value=model.mark)
        p Model:
            input(type='text', name='model', value=model.model)
        p From:
            input(type='text', name='from', value=model.from)
        p End: 
            input(type='text', name='end', value=model.end)
        p
            input(type='hidden', value=model, name='id')
            button(type='submit').
                Update
    form(action='/cars/marks/' + model.mark + '/' + model.model + '/delete', method='POST')
        input(type='hidden', value=model._id, name='id')
        button(type='submit').
             Delete
    form(action='/cars/marks/' + model.mark + '/' + model.model + '/add', method='POST')
        input(type='hidden', value=model , name='car')
        button(type='submit').
             Add
                
    
        