extends layout

block content
  form(method='post', action='add')
      div.cbm_wrap_button
        div.wrapper_body_button
          a.addCarSubmit(href="/cars/marks") All marks
      p.center Add Car:
        .cbm_wrap_center
            .wrapper_body_center
                input.carSubmit(type='text', name='mark', value=model, placeholder='Mark')
        .cbm_wrap_center
            .wrapper_body_center
                input.carSubmit(type='text', name='model', value=model, placeholder='Model')
        .cbm_wrap_center
            .wrapper_body_center
                input.carSubmit(type='text', name='from', value=from, placeholder='From')
        .cbm_wrap_center
            .wrapper_body_center
                input.carSubmit(type='text', name='end', value=end, placeholder='End')
      p
          input(type='hidden', name='id', value=_id)
          div.cbm_wrap_button_center
              div.wrapper_body_button_center
                  button.addCarSubmit(type='submit').
                      Add
